.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
    border-bottom: 1px solid rgba(7, 24, 51, 0.1);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}